@{

    ViewBag.Title = "Events";
}


<!--==============================content================================-->
<section id="content">
  <div class="main">
    <div class="container_12">
      <div class="wrapper">
        <article class="grid_8">
          <h3>Online Job Portal</h3>
          <h6 >Online Jobs for college Students in Pakistan At Home Without Investment Do part time free Online Jobs In Pakistan at home mostly students in Pakistan and in many other countries are fond of using internet. The main reason for using internet could either be some help required in studies or getting in touch with friends through the social networking websites. However if the use of internet can help students make some handsome amount of money as much as PKR 50,000 per month this would probably be the best use of internet they can make doing certain online jobs from home.

Jobs for Students
"Do you know that Millions of people from all over Country are Earning from Internet through Part Time Jobs? Why can't you be one of them....? "Are you looking for part time or full time work on internet? Do you want to work from home /office/cyber cafe in your spare time. Are you ready to spare 2 to 4 hours daily for earning?. </h6>
          <div class="wrapper p2">
            <figure class="img-indent"><img src="~/images/page2-img1.jpg" alt=""></figure>
            <div class="extra-wrap">
              <ul class="list-1">
                <li><a href="#">Events Info</a></li>
                <li><a href="#">Upcoming Events</a></li>
                <li><a href="#">Events History
</a></li>
                  <li>
                      <a href="#">
                          Events History
                      </a>
                  </li>
              </ul>
            </div>
          </div>
          <h3 class="prev-indent-bot">Special Events</h3>
          <div class="wrapper">
            <div class="grid_4 alpha">
              <figure class="p2"><img src="~/images/page2-img2.jpg" alt=""></figure>
            <div class="grid_4 omega">
              <figure class="p2"><img src="~/images/page2-img3.jpg" alt=""></figure>
          </div>
        </article>
        <article class="grid_4">
          <div class="indent-top indent-left">
            <div class="wrapper margin-bot">
              <figure class="img-indent-r"><a href="#"><img src="~/images/page1-img1.png" alt=""></a></figure>
              <div class="extra-wrap"> <strong class="title-1">Tell Your<strong>Friends</strong><em>About</em><em>Our Jobs Website</em></strong> </div>
            </div>
            <h3>Latest News</h3>
            <time class="tdate-1 p2" datetime="2012-02-21">23 January, 2015</time>
            <p class="prev-indent-bot">	Job Opportunities in Jail Department, Government of Balochistan Quetta - Test / Interview Postponed</p>
            <p><a class="link-1" href="#"><a href="http://www.dailypaperpk.com/jobs-by-source/daily-jang">Visit Jang newspaper for more</a> </a></p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>



<!--==============================footer=================================-->
